body {
  font: 'Raleway', sans-serif;
  text-shadow: 1px 1px white;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, #00ff00, #ff0000);
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  text-shadow: 1px 1px white;
  color: rgba(255, 254, 254, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em 'Raleeway', sans-serif;
  text-shadow: 1px 1px white;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

#random {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.5;
}

#random:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
}
